{% extends "base.html" %}

{% block content %}
	{{ msg }}
	<div class="code_snippet">
&emsp;&emsp;@aspectlib.Aspect<br>
&emsp;&emsp;def strip_return_value(request):<br>
&emsp;&emsp;&emsp;&emsp;if not request.user.is_authenticated:<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;yield aspectlib.Return(HttpResponseRedirect(<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;'/user/login/?next=' + request.path)<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;)<br>
&emsp;&emsp;&emsp;&emsp;else:<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;yield aspectlib.Proceed(request, args={"message": "Hello, world. You're at the aspects index, if you're logged in.\n"})<br>
<br><br>

&emsp;&emsp;@strip_return_value<br>
&emsp;&emsp;def index_aspect(request, **kwargs):<br>
&emsp;&emsp;&emsp;&emsp;return render(request, 'index.html', context={'msg': kwargs['args']['message']}<br>
	</div><br>
	<a href="/user"> Normal index</a>
	<br>
	<a href="/user/decorator_index/"> Decorator index</a>
	<br>
	<a href="/user/aspect_index"> Aspect index</a>
    <br>
    <a href="/user/logout/admin/"> Logout</a>
{% endblock %}