{% extends "base.html" %}

{% block content %}
	{{ msg }}<br>
	<div class="code_snippet">
&emsp;&emsp;@login_required(login_url='/user/login')<br>
&emsp;&emsp;def index_decorator(request):<br>
&emsp;&emsp;&emsp;&emsp;return render(request, 'decorator.html', context={'msg':"""Hello, world. You're at the decorator index, if you're logged in\nasd"""})<br>
	</div><br>
	<a href="/user"> Normal index</a>
	<br>
	<a href="/user/decorator_index/"> Decorator index</a>
    <br>
    <a href="/user/aspect_index"> Aspect index</a>
	<br>
	<a href="/user/logout/admin/"> Logout</a>
{% endblock %}